<mat-toolbar>
    <button id="menuSecciones" mat-icon-button class="example-icon" [matMenuTriggerFor]="seccion">
        <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #seccion="matMenu">
        <button mat-menu-item routerLink="/inicio">Inicio</button>
        <button mat-menu-item [matMenuTriggerFor]="producto">Productos</button>
        <button mat-menu-item routerLink="/admin">Admin</button>
      </mat-menu>
  

    <span>Proyecto</span>
    <button id="menuInicio" mat-button routerLink="/inicio">Inicio</button>
    <button id="menuProducto" mat-button [matMenuTriggerFor]="producto">Productos</button>
    <mat-menu #producto="matMenu">
        <button mat-menu-item routerLink="/producto">general</button>
        <button mat-menu-item routerLink="/juegos">juegos</button>
        <button mat-menu-item routerLink="/modsworkshop">mods Workshop</button>
        <button mat-menu-item routerLink="/soporte">soporte</button>
    </mat-menu>

    <button id="menuAdmin" mat-button routerLink="/admin">Admin</button>

    <span class="example-spacer"></span>
    <!--Inicio de sesuib y el registro de un nuevo usuario-->
    <button mat-button [matMenuTriggerFor]="usuario"><mat-icon>person</mat-icon></button>
    <mat-menu #usuario="matMenu">
        <button mat-menu-item (click)="ingresar()" *ngIf="logueado" routerLink="/registro">registrarse</button>
        <button mat-menu-item (click)="ingresar()" *ngIf="logueado" routerLink="/inicio-sesion">Iniciar Sesión</button>
        <button mat-menu-item (click)="cerrarSesion()" *ngIf="deslogueado" > Cerrar Sesión</button>
    </mat-menu>
<!--carrito-->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    
</mat-toolbar>